/*General tags associated with multiple pages*/
h1 {
    font-size: 40px;
}
p {
    font-size: 20px;
}


.page-header {
    text-align: center;
}

img {
    padding: 0%;
}

h3 {
    padding: 5%;
	 font-size: 30px;
}

h4 {
	font-size: 25px;
}





/*Navigation bar styles needed for format to be kept*/
.subtitle {
    text-align: center;
}

.nav-item {
	font-size: 15px;
	text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

/*keep nav items visable when hovering over*/
.nav > li > a:hover {
    color: black !important;
}


/*increases size of hamburger icon*/
.navbar-header {
    font-size: 15px;
    padding: 0px;
    margin: 0px;
}

/*prevents menue bar from overlapping with the home button*/
body {
    padding-top: 0px;
}
@media screen and (max-width: 700px){
    body {
        padding-top: 15px; 
        
        }
    #navbar {
        border-width: 0px;
        border-color: none;
    }
    }




/*Portfilo pages*/

.thumbnail {
    background-color: none;
    color: none;
}

.thumbnail > img {
    max-width: 700px;
}

.thumbnail > p > a:hover {
    color: lightskyblue;
}

#infographic {
    max-width: 95%;
}





/*projects page*/

.card {
    padding: 0%;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 30rem;
}


.card-text {
    padding-bottom: 0px;
    padding-top: 5px;
}


.darkoverlay {
    -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
   -o-transition: all 1s ease;
   -ms-transition: all 1s ease;
   transition: all 1s ease;
}

.darkoverlay:hover {
    -webkit-filter: brightness(40%);
   filter: brightness(40%);
}



/*Resume Page*/
li.resume-item {
	font-size: 2em;
	color: grey;
}

.position-title {
	font-size: 20px;
}






/*homepage*/
#carousel-homepage {
   height: 350px;
}

#carousel-homepage img {
    padding: 50px;
}

div.carousel-caption p {
    background-color: black
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}
