/*General tags associated with multiple pages*/
h1 {
    font-size: 40px;
}
p {
    font-size: 20px;
}

body {
	background-color: #DCDCDC;
    margin-right: 4%;
    margin-left: 4%;
}

.page-header {
    text-align: center;
}

img {
    padding: 0%;
}

.subtitle {
    text-align: center;
}





/*Portfilo pages*/

.thumbnail {
    background-color: none;
    color: none;
}

.thumbnail > img {
    max-width: 700px;
}



.thumbnail > p > a:hover {
    color: lightskyblue;
}

#infographic {
    max-width: 95%;
}





/*projects page*/




.card {
    background-color: darkgrey;
    border-radius: 2%;
    padding: 0%;
    margin: 3%;
    width: 30rem;
    
    border-color: black;
    border-style: solid;
    border-width:thin;
}


.card-text {
    padding-bottom: 0px;
    padding-top: 5px;
}


.darkoverlay {
    -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
   -o-transition: all 1s ease;
   -ms-transition: all 1s ease;
   transition: all 1s ease;
}

.darkoverlay:hover {
    -webkit-filter: brightness(40%);
   filter: brightness(40%);
}



/*homepage*/
#carousel-homepage {
   height: 350px;
}

#carousel-homepage img {
    padding: 50px;
}

div.carousel-caption p {
    background-color: black
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}
